@using SanProject.Domain.SetReservation
@using SanProject.Shared.BookingModels
@model BookingFormsViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="traveller_formsdiv">
    <h3>Enter Required Traveller Info</h3>
    <form method="post" asp-action="Booking">
    @for(int i=0; i<Model.travellernumber;i++)
    {
        <div class="traveller_form_field">
            <input type="hidden" readonly asp-for=@Model.offerId value=@Model.offerId>
            <input type="hidden" readonly asp-for=@Model.currency value=@Model.currency>
            <input type="hidden" readonly asp-for=@Model.culture value=@Model.culture>
            <label asp-for=@Model.travellers[i].name></label>
            <input asp-for=@Model.travellers[i].name></input>
            <label asp-for=@Model.travellers[i].surname></label>
            <input asp-for=@Model.travellers[i].surname></input>
            <label asp-for=@Model.travellers[i].address.email></label>
            <input asp-for=@Model.travellers[i].address.email></input>
        </div>
        
    }
    <button type="submit">Submit</button>
    </form>
</div>