@model List<SanProject.Domain.CityObject>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Cities</h1>

<div id="cities_tablediv">
    <table id="cities_table">
    <thead>
        <tr>
            <th>City Name</th>
            <th>Number of Hotels</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var city in Model)
        {
            <tr>
                <td>@city.Name</td>
                <td>@city.HotelCount</td>
                <td>
                    <a asp-controller="Hotel" asp-action="Index" asp-route-id="@city.Name">View Hotels</a>
                </td>
                
            </tr>
        }
    </tbody>
</table>
</div>

