 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    
    <div class="intro_city_div">
        <form method="post" asp-action="Cities">
            <label for="citysearch">Search for a Destination</label><br/>
            <input id="citysearch" type="text" name="quer"></input><br/>
            <button type="submit">Search</button>
        </form>
    </div>
</div>
